# Run `make freeze-requirements` to update requirements.txt
# with package version changes made in requirements-app.txt

Flask==1.0.3
Flask-WTF==0.14.3

gunicorn==20.0.4
whitenoise==4.1.2  #manages static assets
eventlet==0.31.0

Babel==2.9.1
Flask-Babel==1.0.0
python-dotenv==0.10.3
notifications-python-client==5.5.1

# PaaS
awscli-cwlogs>=1.4.6,<1.5

git+https://github.com/cds-snc/notifier-utils.git@43.11.1#egg=notifications-utils

rsa>=4.1 # not directly required, pinned by Snyk to avoid a vulnerability
