{% extends "notification_template.html" %}
{% from "components/language_button.html" import language_button %}

{% block head %}
  <!--[if gt IE 8]><!-->
  <link rel="stylesheet" media="screen" href="{{ asset_url('stylesheets/main.css') }}" />
  <!--<![endif]-->
  <style>
      #global-header-bar { background-color: {{header_colour}} }
  </style>
  <!--[if IE 6]>
  <link rel="stylesheet" media="screen" href="{{ asset_url('stylesheets/main-ie6.css') }}" />
  <![endif]-->
  <!--[if IE 7]>
  <link rel="stylesheet" media="screen" href="{{ asset_url('stylesheets/main-ie7.css') }}" />
  <![endif]-->
  <!--[if IE 8]>
  <link rel="stylesheet" media="screen" href="{{ asset_url('stylesheets/main-ie8.css') }}" />
  <![endif]-->
  {% block meta %}
  {% endblock %}
{% endblock %}

{% block page_title %}
  {{ _('GC Notify - Document download') }}
{% endblock %}

{% block inside_header %}
  {{ language_button() }}
{% endblock %}

{% block content %}
	<div id="content">
		<main role="main">
			<div class="grid-row">
				<div class="column-two-thirds">
					{% block main_content %}{% endblock %}
				</div>
			</div>
		</main>
	</div>
{% endblock %}


{% block footer_fip %}
{% endblock %}


